body {
  color: white;
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
}

@media only screen and (max-width: 300px) {
  body {
    background: red;
  }

  div {
    display: block;
    width: 33%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  body {
    background: green;
  }
  div {
    display: inline-block;
  }
  .small {
    width: 66%;
    float: left;
  }
  .medium {
    width: 33%;
  }
  .large {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background: blue;
  }
  .small,
  .medium,
  .large {
    width: 33%;
    display: inline-block;
  }
}

div {
  background-color: rgba(88, 81, 81, 0.4);
}
